%section.features
  .rows
    .row.row-header
      %h2
        Features
      %p
        Customers at your fingertips
      .underline
    .row
      .column
        .feature
          %i.fa.fa-diamond
          %h4
            Diamonds are forever
          %p
            Receive texts from your customers and then respond to them instantly
        .feature
          %i.fa.fa-diamond
          %h4
            Diamonds are forever
          %p
            Receive texts from your customers and then respond to them instantly
        .feature
          %i.fa.fa-diamond
          %h4
            Diamonds are forever
          %p
            Receive texts from your customers and then respond to them instantly
      .column.image
        = image_tag "home/index/screenshot.png"
      .column
        .feature
          %i.fa.fa-diamond
          %h4
            Diamonds are forever
          %p
            Receive texts from your customers and then respond to them instantly
        .feature
          %i.fa.fa-diamond
          %h4
            Diamonds are forever
          %p
            Receive texts from your customers and then respond to them instantly
        .feature
          %i.fa.fa-diamond
          %h4
            Diamonds are forever
          %p
            Receive texts from your customers and then respond to them instantly
