.hero
  .hero__background
    .hero__background__tint
    .hero__background__image
    .hero__background__content
      .row
        .hero__background__content__image
          = image_tag "favicon.png"
      .row
        .hero__background__content__text
          %h1
            Text your customers directly and receive immediate connections
      .row.hero__background__content__actions
        = link_to "Get started", "#", class: "js-button js-scroll-to",
          data: { "scroll-to-key" => "get-started" }
