%section.start.get-started
  .background
  .tint
  .rows
    .row.row-header
      %h2
        Sign up
      %p
        Get started and join now
      .underline
    = react_component "HomeIndexStart", {}, { class: "row" }
